@import '../../variables.css';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    min-width: 40vw;
    background: var(--background);
    padding: 5vmin;
    border-radius: 20px;
}

.modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vmin;
}

.modal-title {
    margin: 0;
}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 2vmin;
    text-wrap: wrap;
}

.modal-form-title {
    margin: 0 0 5px;
}

.modal-form-title-h {
    margin: 0 10px 0 0;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 5vmin;
}