:root {
    --primary: #1e5479;
    --secondary: #044040;
    --accent: #D92525;
    --background: #f2f2f2;
    --blue: #6ebee4aa;
    --blue-light: #bae9ffaa;
    --card-background: #ffffffaa;
    --text: #333;
    --border: #044040;
    --grey: #888;
    --grey-light: #ccc;
    --grey-dark: #444;
  }
  